/HospitalControl/nbproject/private/
/HospitalControl/build/
/Hospital-Control/nbproject/private/
/Hospital-Control/build/
/Hospital-Control/dist/
*.DS_Store
/Hospital-Control/*.DS_Store
.DS_Store
Hospital-Control/.DS_Store
.DS_Store
Hospital-Control/.DS_Store
Hospital-Control/src/.DS_Store
